ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  
}

li {
  float: left;

}

li a {
  display: block;
  font-family: arial;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to red on hover */
li a:hover {
  background-color: tomato;
}
body
{
 background-color: #FED7B9;
}
h1,h2
{
  color: brown;
  font-family: arial;
  text-align: center;
}
p
{
  font-family: copperplate, sans-serif;
  text-align: center;
  line-height: 2.0;
  font-size: 18px;
  font-width: 30%;
}