body
{
 background-color: powderblue;
}
h1,h2,h3,h4
{
  color: blue;
  font-family: arial;
  text-align: center;
}
p
{
  color: green;
  font-family: arial;
  text-align: center;
  line-height: 1.5;
  font-size: 12px;
}